@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
//Primary Colors
$green: #1ABC9C;
$grey: #34495E;
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$main: #1ab188;
$main-light: lighten($main,
5%);
$main-dark: darken($main,
5%);
$gray-light: #a0b3b0;
$gray: #ddd;
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
body {}

h1 {
    color: $green;
}

#loginForm {
    .button-container {
        margin-top: 3em;
        text-align: center;
    }
}

.feed {
    li {
        text-decoration: none;
    }
}

.well {
    background-color: $grey;
    .tag-line {
        color: $body-bg;
    }
}