@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/paper/bootstrap.css';
$header-text:#444444;
$text:#666666;
$main: #1ab188;
$green-dark:#1bc2a2;
$green-light:#16a085;
$midnight-blue:#2C3E50;
$wet-blue:#34495e;
$clouds:#ECF0F1;
$silver:#BDC3C7;
$concrete:#95A5A6;
$white: #ffffff;
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
body,
html {
    background-color: $white;
}

h1 {
    color: $green-light;
}

//-----LOGIN PAGE----------
.well {
    background-color: $silver;
    max-width: 40em;
    margin: 0 auto;
    margin-top: 5em;
    .tag-line {
        color: $body-bg;
        margin-bottom: 3em;
        font-size: 1.5em;
    }
    span {
        color: $midnight-blue;
    }
}

#loginForm {
    .button-container {
        text-align: center;
        margin-top: 0em;
        text-align: center;
        max-width: 18em;
        margin: 0 auto;
    }
    button {
        margin-top: 1em;
        margin-bottom: 3em;
    }
    button:hover {
        color: aliceblue;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: $white;
    }
}

//---------Feed.Category-----------
.cat-container {
    text-align: center;
    a {
        list-style: none;
        text-decoration: none;
        margin: 0 auto;
        .cat-btn {
            display: inline-block;
            padding: 3em;
            text-align: center;
            font-size: 4em;
            text-align: center;
            color: $green-light;
            margin: 0 auto;
        }
        .cat-btn:hover {
            background: $green-light;
            color: $white;
        }
    }
}

//
//.cat-btn:hover {
//    background-color: $green-dark;
//}
//---------Feed.titles-------------
.list-group {
    text-decoration: none;
    li {
        list-style: none;
        a {
            color: $header-text;
            padding: 1.5em;
            font-size: 1.1em;
            span {
                background-color: $clouds;
                color: $green-light;
            }
            .save-label {
                float: right;
                margin-left: 3ex;
            }
            .save-label:hover {
                background-color: $green-light;
                color: $white;
            }
        }
        a:hover {
            color: $wet-blue;
            background-color: $clouds;
            span {
                border: $midnight-blue;
            }
        }
        a.list-group-item:hover {}
        a.list-group-item:focus {
            background-color: $clouds;
            color: $wet-blue;
        }
        p {
            margin-top: 2em;
            font-size: 1.2em;
            color: $text;
            text-rendering: optimizeLegibility;
            font-weight: 400;
            line-height: 2em;
            max-width: 50em;
            margin: 0 auto;
            text-align: inherit;
        }
        button {
            margin-top: 3em;
            margin-bottom: 3em;
            background-color: $green-light;
            color: $white;
            border: none;
            box-shadow: none;
        }
        button:hover {
            background-color: $green-dark;
        }
    }
}

//----------------------------------
.feed {
    li {
        text-decoration: none;
    }
}

.nav-social {
    float: right;
    color: $green-light;
    font-size: 1.3em;
    img {
        border-radius: 50%;
        margin-left: .5em;
    }
}

//----------NAV BAR---------------------------
.navbar-header {
    clear: both;
    .navbar-toggle .icon-bar {
        color: $green-light;
        background-color: $green-light;
    }
    a {
        color: $green-light;
        .read-logo {
            color: $midnight-blue;
        }
    }
}

#navbarCollapse {
    ul {
        li {
            a {
                color: $green-light;
            }
            a:hover {
                color: $white;
                background-color: $green-dark;
            }
        }
    }
}

//-------UserProfile------
.userProfile {
    h2 {
        text-align: center;
        color: $green-light;
    }
    nav {
        @extend .col-xs-12;
        text-align: center;
        margin-bottom: 3em;
    }
    button {
        @extend .btn;
        color: $white;
        background-color: $green-light;
        border: none;
    }
    button:hover {
        color: $wet-blue;
        background-color: $green-dark;
    }
}

.progress-bar:last-child:before {
    content: none;
}

.userInformation {
    .alert {
        @extend .col-xs-12;
        @extend .col-md-5;
        @extend .col-md-offset-1;
        text-align: center;
        margin-top: 2em;
        button {
            @extend .btn;
            @extend .btn-danger;
        }
    }
    form {
        @extend .col-xs-12;
        @extend .col-md-6;
    }
    small {
        @extend .col-xs-12;
    }
    h4 {
        text-align: center;
    }
    form {
        text-align: center;
    }
}

.tracker {
    h4 {
        text-align: center;
    }
    small {
        @extend .col-xs-12;
        text-align: center;
    }
    p {
        @extend .col-xs-12;
        text-align: center;
    }
}

.savedArticles {
    h4 {
        text-align: center;
    }
    ul {
        @extend .list-group;
        li {
            @extend .col-xs-12;
            @extend .list-group-item;
            text-align: center;
            background-color: $silver;
            opacity: .7;
            font-size: 1.3em;
            color: $midnight-blue;
            border: solid $green-light;
            margin-top: 1em;
        }
    }
}

.time-span {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.time-span.ng-hide {
    opacity: 0;
}

[ui-view].ng-enter {
    -webkit-animation: enter_sequence .3s linear;
    /* Safari/Chrome */
}

@-webkit-keyframes enter_sequence {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}