<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="article in feed.newsArticles2">
            <a href="#" class="list-group-item" ng-click="preview=!preview">{{collection.title}}<span class="badge"><span ng-bind="feed.timeCount(article.text.text)"></span> min</span></a>
            <p ng-show="preview">{{article.text.text}}
                <button ng-show="feed.authData" ng-click="feed.markedAsRead(feed.wordCount(article.text.text),feed.timeCount(article.text.text))">markedAsRead</button>
            </p>
        </li>
    </ul>
</div>