<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="article in feed.entNews">
            <a href="#" class="list-group-item" ng-click="preview=!preview">{{article.collection1[0].title}}<span class="badge"><span ng-bind="feed.timeCount(article.text.text)"></span> min</span></a>
            <h3 ng-show="preview" class="article-title text-center">{{article.collection1[0].title}}</h3>
            <p ng-show="preview" ng-repeat="body in article.collection2">
                <br>{{body.text.text}}

            </p>

        </li>
    </ul>
</div>