<div class="container-fluid">
    <div id="loginForm">
        <h1 class="text-center ">ReadyRead</h1>
        <h6 class="userDisplay"></h6>

        <button type="submit" ng-click="login.logUserIn()">Login</button>

        <button ng-click="login.logOut()">LogOut</button>

    </div>
    <!----LoginForm----->
</div>
<!----Container---->





<!--
 <button type="submit" ng-click="login.addCustomArticle()">Add Your Own Article</button>
-->

<!--
<input type="text" ng-model="login.newArticle.name" /> Url For Your Article:
            <input type="text" ng-model="login.newArticle.url" />-->